<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>



</head>

<body>

	<th:block th:fragment="header">

		<div th:fragment="header-css">
			<!-- this is header-css -->
			<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<link rel="stylesheet" th:href="@{/css/mycss.css}"
				href="css/main.css" />



			<!-- 				for registration form -->
			<link
				href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">


		</div>




	

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" th:href="@{/index}">WebSiteName</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li>
				</ul>


				<ul class="nav navbar-nav navbar-right"
					>


					<li sec:authorize="!(isAuthenticated())"><a href="#" th:href="@{/register}"><span
							class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li sec:authorize="!(isAuthenticated())"><a href="#" th:href="@{/login}"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>



					

				</ul>
			</div>
		</nav>

	</th:block>
</body>
</html>