
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>USER PAGE</title>
</head>
<body>
<h3>WELCOME</h3>
  
	   <h2><b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b></h2>
	    <form th:action="@{/logout}" method="POST">
	         <input type="submit" value="Logout"/>
	    </form>
</body>
</html>